@page "/admin/addedbooks"
@inherits OwningComponentBase<IPurchaseRepository>

<PurchaseTable TableTitle="Not Purchased" Purchases="NotPurchasedItems" ButtonLabel="Purchase" PurchaseSelected="CollectPurchase"></PurchaseTable>

<PurchaseTable TableTitle="Purchased" Purchases="PurchasedItems" ButtonLabel="Reset" PurchaseSelected="ResetPurchase"></PurchaseTable>

<button class="btn btn-info" @onclick="@(x => UpdateData())">Refresh Data</button>

@code {

    public IPurchaseRepository repo => Service;

    public IEnumerable<Purchase> AllPurchases { get; set; }
    public IEnumerable<Purchase> NotPurchasedItems { get; set; }
    public IEnumerable<Purchase> PurchasedItems { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        AllPurchases = await repo.Purchases.ToListAsync();
        NotPurchasedItems = AllPurchases.Where(x => !x.PurchaseReceived);
        PurchasedItems = AllPurchases.Where(x => x.PurchaseReceived);
    }

    public void CollectPurchase(int id) => UpdatePurchase(id, true);
    public void ResetPurchase(int id) => UpdatePurchase(id, false);

    private void UpdatePurchase (int id, bool purchased)
    {
        Purchase p = repo.Purchases.FirstOrDefault(x => x.PurchaseId == id);
        p.PurchaseReceived = purchased;
        repo.SavePurchase(p);
    }

}

