@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
 
@model Amazon.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

@* ATTENTION VISITOR: I have two places where I have experimented with bootstrap classes. The first one is located on the _Layout tab and the second is on the AdminLayout.razor page. Enjoy! *@
<html>

<head>
    <title>Amazon Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />

</head>

<body>

    <component type="typeof(Amazon.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>

</html>
