
@{
    ViewBag.Calc = 20 / 5;
}

@model BooksViewModel

<h1>The Amazon Project</h1>

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b"/>
}

<div page-model="@Model.PageInfo" page-action="Index"></div>